html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-color: gray;
    font-family: 'Roboto',sans-serif;
  }

  main {
    display: grid;
    grid-template-rows: 3% 15% 3% 30% 6% 7% 1fr 6% 7% 5% 1fr 5% 1fr;
    grid-template-columns: 10px 1fr 10px;
    border-radius: 5px;
    background-color: #3cc38d;
    width: 300px;
    height: 425px;
  }

  section#slotTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #088c57;
    color: white;
    font-size: 25px; 
  }

  section#reels {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self:stretch;
    justify-self: stretch;
    display: grid;
    grid-template-rows: 18.5px 1fr 18.5px;
    grid-template-columns: 5px 1fr 10px 1fr 10px 1fr 5px;
    border-radius: 15px;
    background-color:#4b4b4b;
    width: 280px;
    height: 120px;

  }

  div#reel1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 15px;
    background-color:#ceb1b1;
  }

  div#reel2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 15px;
    background-color:#ceb1b1;
  }

  div#reel3 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 15px;
    background-color:#ceb1b1;
  }

  section#bottom {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  div#slotMsg {

  }

  div#spin {
    margin-top: 25px;
    padding: 25px 0 25px 0;
    border-radius: 5px;
    text-align: center;
    background-color: #088c57;
    color: white;
    font-size: 20px;
    max-width: 100px;
    max-height: 50px; 
  }

  div#reset {

  }