html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-image: url('https://i.pinimg.com/originals/39/da/62/39da62cd6b9c47da285afa94f26827eb.jpg');
    background-size: auto;
    background-position: center top;
    font-family: 'Roboto',sans-serif;
  }

  main {
    display: grid;
    grid-template-rows: 3% 15% 3% 28% 6% 42% 3%;
    grid-template-columns: 10px 1fr 10px;
    margin: 25vh 0 0 0;
    border-radius: 5px;
    border: 5px solid #040491;
    background-color: #52f7f7;
    background: linear-gradient(
      180deg,
      #0069ff,
      #0075fe,
      #007ffc,
      #0089f9,
      #0092f4,
      #009bf1,
      #00a3eb,
      #00aae5,
      #00b3dc,
      #00b9c9);
    width: 300px;
    height: 425px;
  }

  section#slotTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid white;
    background-color: #01017c;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px; 
  }

  section#reels {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self:stretch;
    justify-self: stretch;
    display: grid;
    grid-template-rows: 18.5px 1fr 18.5px;
    grid-template-columns: 5px 1fr 10px 1fr 10px 1fr 5px;
    border-radius: 15px;
    border: 3px solid #daa520;
    background-color:#ffd700;
    background: linear-gradient(
      180deg,
      #ffea00,
      #ffdd00,
      #ffd000,
      #ffca4f,
      #ffc300,
      #ffca4f,
      #ffd000
      #ffdd00,
      #ffea00);
    width: 100%;
    height: auto;
  }

  div#reel1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid blue;
    background-color: #c3c3c3;
    background: linear-gradient(
      180deg,
      #00b9c9,
      #00b3dc,
      #00aae5,
      #00a3eb,
      #009bf1,
      #00a3eb,
      #00aae5,
      #00b3dc,
      #00b9c9);
    }

  div#reel1 > img {
    max-width: 100%;
    height: auto;
  }

  div#reel2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid blue;
    background-color: #c3c3c3;
    background: linear-gradient(
      180deg,
      #00b9c9,
      #00b3dc,
      #00aae5,
      #00a3eb,
      #009bf1,
      #00a3eb,
      #00aae5,
      #00b3dc,
      #00b9c9);
  }

  div#reel2 > img {
    max-width: 100%;
    height: auto;
  }

  div#reel3 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid blue;
    background-color: #c3c3c3;
    background: linear-gradient(
      180deg,
      #00b9c9,
      #00b3dc,
      #00aae5,
      #00a3eb,
      #009bf1,
      #00a3eb,
      #00aae5,
      #00b3dc,
      #00b9c9);
  }

  div#reel3 > img {
    max-width: 100%;
    height: auto;
  }

  section#bottom {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    grid-template-rows: 25% 4% 15% 22% 15% 4% 15%;
    grid-template-columns: 1fr 3% 1fr 3% 1fr;
  }

  div#slotMsg {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 3px solid white;
    background-color: #01017c;
    color: white;
    font-family: 'VT323', sans-serif;
    font-size: 24px;
  }

  div#text1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
    font-size: 15px;
  }

  div#crWon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px 0 0;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #000000;
    color: #eb0909;
    font-family: 'DotGothic16', sans-serif;
    font-size: 24px;
  }

  div#text2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
    font-size: 15px;
  }

  div#text3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 5px 0;
    font-size: 10px;
  }

  div#crRemain {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px 0 0;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #000000;
    color: #eb0909;
    font-family: 'DotGothic16', sans-serif;
    font-size: 24px;
  }

  div#spinBtn {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid #040491;
    background-color: #0400f8;
    color: white;
    font-size: 20px;
  }

  div#spinBtn:hover {
    background-color: #ffd700;
  }

  div#resetBtn {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid #040491;
    background-color: #0400f8;
    color: white;
    font-size: 18px;
  }

  div#resetBtn:hover {
    background-color: #ffd700;
  }

  div#sound {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
  }

  
  @media only screen and (min-width: 600px){
    
    main {
      display: grid;
      grid-template-rows: 3% 15% 3% 28% 6% 42% 3%;
      grid-template-columns: 15px 1fr 15px;
      margin: 18vh 0 0 0;
      width: 500px;
      height: 700px;
    }
  
    section#slotTitle {
      font-size: 48px; 
    }
  
    div#slotMsg {
      font-size: 40px;
    }
  
    div#text1 {
      padding: 25px 0 0 0;
      font-size: 18px;
    }
  
    div#crWon {
      padding: 0 8px 0 0;
      font-size: 40px;
    }
  
    div#text2 {
      padding: 25px 0 0 0;
      font-size: 18px;
    }
  
    div#text3 {
      padding: 0 0 25px 0;
      font-size: 15px;
    }
  
    div#crRemain {
      padding: 0 8px 0 0;
      font-size: 40px;
    }
  
    div#spinBtn {
      font-size: 36px;
    }
  
    div#spinBtn:hover {
      background-color: #ffd700;
    }
  
    div#resetBtn {
      font-size: 18px;
    }
  
    div#resetBtn:hover {
      background-color: #ffd700;
    }
  }