html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-image: url('https://i.pinimg.com/originals/39/da/62/39da62cd6b9c47da285afa94f26827eb.jpg');
    background-size: auto;
    font-family: 'Roboto',sans-serif;
  }

  main {
    display: grid;
    grid-template-rows: 3% 15% 3% 28% 6% 42% 3%;
    grid-template-columns: 10px 1fr 10px;
    margin: 25vh 0 0 0;
    border-radius: 5px;
    background-color: #02efee;
    width: 300px;
    height: 425px;
  }

  section#slotTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #01017c;
    color: white;
    font-size: 25px; 
  }

  section#reels {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self:stretch;
    justify-self: stretch;
    display: grid;
    grid-template-rows: 18.5px 1fr 18.5px;
    grid-template-columns: 5px 1fr 10px 1fr 10px 1fr 5px;
    border-radius: 15px;
    background-color:#4b4b4b;
    width: 280px;
    height: 120px;

  }

  div#reel1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #f4ecec;
    font-size: 50px;
  }

  div#reel1 > img {
    max-width: 100%;
    height: auto;
  }

  div#reel2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #f4ecec;
    font-size: 50px;
  }

  div#reel2 > img {
    max-width: 100%;
    height: auto;
  }

  div#reel3 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #f4ecec;
    font-size: 50px;
  }

  div#reel3 > img {
    max-width: 100%;
    height: auto;
  }

  section#bottom {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    grid-template-rows: 25% 4% 15% 22% 15% 4% 15%;
    grid-template-columns: 1fr 3% 1fr 3% 1fr;
  }

  div#slotMsg {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #01017c;
    color: white;
  }

  div#text1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
    font-size: 15px;
  }

  div#crWon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px 0 0;
    border-radius: 15px;
    background-color: #000000;
    color: #eb0909;
    font-size: 24px;
  }

  div#text2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
    font-size: 15px;
  }

  div#text3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 5px 0;
    font-size: 10px;
  }

  div#crLeft {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px 0 0;
    border-radius: 15px;
    background-color: #000000;
    color: #eb0909;
    font-size: 24px;
  }

  div#spinBtn {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #0400f8;
    color: white;
    font-size: 20px;
  }

  div#spinBtn:hover {
    background-color: red;
  }

  div#resetBtn {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    justify-self: stretch;
    align-self: stretch;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #0400f8;
    color: white;
    font-size: 18px;
  }

  div#resetBtn:hover {
    background-color: red;
  }
